<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Chattanooga Security and Privacy Society</h1>
    </div>
  </div>
</section>
<section class="section is-medium">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">What</h4>
        <p>CSPS is a group that meets monthly and talks about digital security and privacy. We are an inclusive and friendly group with one goal: help others become more secure in their digital lives.</p>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Who</h4>
        <p>CSPS is for anyone who is interested in cybersecurity and digital privacy. Everyone is welcome regardless of technical ability.</p>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Why</h4>
        <p>As technology and the internet evolve, it is increasingly difficult to keep up with security and privacy best practices. Getting together and sharing ideas can help us improve our personal security and privacy</p>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">Where</h4>
        <p>The Chattanooga Library (Downtown) on the 4th floor.</p>
        <p>1001 Broad St, Chattanooga, TN 37402</p>
      </div>
      <div class="column is-4">
        <h4 class="title is-4 has-text-centered">When</h4>
        <p>Every 2nd Thursday at 6:00 PM EST</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-primary">
    <div class="columns">
      <div class="column has-text-centered">
        <h4 class="title is-4">Contact</h4>
        <a class="button is-primary" href="mailto:chattsps@protonmail.com">chattsps@protonmail.com</a>
      </div>
      <div class="column has-text-centered">
        <h4 class="title is-4">Chat</h4>
        <a class="button is-primary" href="https://webchat.freenode.net/?channels=csps">#csps on freenode</a>
      </div>
      <div class="column has-text-centered">
        <h4 class="title is-4">Calendar</h4>
        <a class="button is-primary" href="csps.ics">Add to calendar</a>
      </div>
    </div>
  </div>
</section>
